.bw_wheel {
  width: 400px;
  height: 400px;
}

.bw_wheel-edit-toolbar {
  display: flex;
  gap: 0 15px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;

  .bw_wheel-save {
    background: #084259;
  }

  .bw_wheel-cancel {
    background: #8c2e2e;
  }
}
