.bw_todos_item {
  padding: 10px 10px 0;
  display: flex;

  &-checkbox {
    margin-right: 7px;
  }

  &-name {
    align-items: flex-start;

    &-content {
      width: 100%;
      cursor: pointer;
    }
  }

  &-toolbar {
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
      min-height: 16px;
      margin-left: 10px;
    }

    &-delete path {
      color: #8c2e2e;
    }

    &-cancel path {
      color: #d9c8a9;
    }

    &-save path {
      color: #92a69a;
    }
  }

  &-input {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    position: static;
    padding: 0;
    transition: 100ms;

    &:focus-visible {
      border-bottom: 1px solid #999;
      outline: none;
    }
  }
}
