.bw_date {
  display: flex;
  align-items: center;

  &-icon {
    cursor: pointer;
    height: 20px;
    width: 20px;

    &.disabled {
      cursor: not-allowed;

      path {
        color: #ccc;
      }
    }
  }

  &-text {
    width: 80px;
    text-align: center;
  }

  &-input {
    width: 60px;
    height: 17px;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    text-align: center;
    position: static;
    padding: 0;
    margin: 0 10px;
    transition: 100ms;

    &:focus-visible {
      border-bottom: 1px solid #999;
      outline: none;
    }
  }
}
