.vw_look_form_sidebar {
  width: 100%;
  max-width: 401px;
  height: calc(100vh - 140px);
  overflow: auto;
  box-sizing: border-box;
  border: solid #92a69a;
  border-width: 1px 1px 1px 0;

  &-header {
    background: #92a69a;
    color: #f9f9f9;
    padding: 10px;
  }

  &-header + &-header {
    border-top: 1px solid #f9f9f9;
  }

  &-body {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}
