@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --toastify-color-success: #92A69A
}

* {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #555;
}

body {
  margin: 0;
}

button {
  border: 0;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    opacity: 0.8;
  }
  &:focus-visible {
    outline: none;
    opacity: 0.5;
  }

  &:disabled {
    background: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.icon-button {
    line-height: 0;
    padding: 5px;

    svg {
      width: 20px;
      height: 20px;

      path {
        color: white;
      }
    }
  }
}

.layout {
  width: 100%;
  background: #f9f9f9;
  height: 100vh;
  position: relative;

  nav {
    position: absolute;
    height: 50px;
    top: calc(100% - 50px);
    width: 100%;
    background: rgba(70, 133, 140, 0.5);
    overflow: hidden;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      height: 100%;

      li {
        list-style-type: none;
        height: 100%;
        transition: 500ms;

        &.selected {
          background: #46858C;

          * {
            color: white;
          }

          a {
            cursor: default;
            pointer-events: none;
            &:hover {
              background: transparent;
            }
          }
        }

        a {
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 50px;
          border-right: 1px solid #46858C;
          transition: 500ms;

          * {
            color: #46858C;
          }

          &:hover {
            background: rgba(70, 133, 140, 0.3);
          }
        }
      }
    }
  }

  &-content {
    height: calc(100vh - 70px);
    overflow: auto;
    padding: 20px 20px 0;
  }
}
