.vw_look_form_canvas {
  height: calc(100vh - 140px);
  width: calc(100vh - 140px);

  > div {
    aspect-ratio: 1/1;
    border: solid #92a69a;
    box-sizing: border-box;
    border-width: 1px 0 1px 1px;
  }
}
