@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #555;
}

.balance-wheel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}

.areas {
  width: 100%;
}
