@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #555;
}

button {
  border: 0;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    opacity: 0.8;
  }
  &:focus-visible {
    outline: none;
    opacity: 0.5;
  }
}

.balance-wheel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}
