.cr_day_date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  & > div {
    width: 90px;
    text-align: center;
  }
}
